$window-header-color: $color;
$window-header-background-color: white !default;
//$window-background-color: transparent !default;


//$window-border-radius: 2px !default;

$window-border-radius: 0px !default;
$window-border-width: 8px !default;
$window-border-color: #fff !default;

$window-padding: 0px;
$window-header-text-padding: 24px;

$window-force-header-border: false;