// colors

$base-color: #00BCD4 !default;
$color: $material-color-black !default;

// font

$font-family: Roboto, sans-serif !default;
$font-weight: 400 !default;
$font-weight-bold: 400 !default;
$font-size: 14px !default;

// floating action button

$floating-action-button-color: $material-icon-color-black-active !default;
$floating-action-button-background-color: #eeff41 !default;



$include-ie: false !default;

$css-shadow-border-radius: 0px;
