@import 'FloatingAction';

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: null;
$button-toolbar-background-gradient-pressed: null;

$button-toolbar-inner-border-width-over: 0px;

$include-button-default-toolbar-medium-ui: false;